@model Student_Organizer.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")<button id="writeButton">Click to create <code>hello.txt</code> in Dropbox.</button>
                <input id="stuff" />
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        @if (Model.currentUser.Faculty_id != null)
        {
            <dt>testing:</dt>
            <dd>

                <tr>
                    <td>
                    </td>
                </tr>
            </dd>
        }
        else
        {
            <dt>
                <tr>
                    <td></td>
                </tr>
            </dt>
        }



    </dl>
    @Scripts.Render("https://www.dropbox.com/static/api/dropbox-datastores-1.2-latest.js")
    @Scripts.Render("https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
                        <script>
                            var client = new Dropbox.Client({ key: 'ph7eppferwoc4qe'});
                            $(document).ready(function () {
                               readDir();
                            })
                            client.authenticate({ interactive: false }, function (error, client) {
                                if (error) {
                                    alert('Error client not auth: ' + error);
                                }
                            });
                            if (client.isAuthenticated() != true) {
                                alert("fucken a")
                            }
                            if (client.isAuthenticated()) {
                                reaDir();
                            }
                        function readDir() {
                            client.readdir("/dcc group project", function (error, entries) {
                                if (error) {
                                    alert('Error cant find dcc: ', +error);
                                } else {
                                    //alert("Your Dropbox contains " + entries.join(", "));
                                    $('#stuff').append("<br>Your Dropbox contains: <br>" + entries.join(", <br>")).fadeIn();
                                }
                            })
                        }


                        document.getElementById('writeButton').onclick = function () {
                            client.authenticate(function (error, client) {
                                if (error) {
                                    alert('Error: ' + error);
                                } else {
                                    doHelloWorld();
                                }
                            });
                        }

                        function doHelloWorld() {
                            client.writeFile('dcc group project/hello.txt', $('#stuff').val(), function (error) {
                                if (error) {
                                    alert('Error: ' + error);
                                } else {
                                    alert('File written successfully!');
                                }
                            });
                        }
                        function reaDir() {
                            var url = "https://content.dropboxapi.com";
                            var headers = {
                                'authorization': 'BYQAaDSBqzAAAAAAAAAACPN7rg9-MRXD5SwBWCHvkpbNqV4pvn8o777vFFNJQoxb'
                            }

                            var args = {
                                url: reject_cors_preflight=true,
                                type: 'GET',
                                headers: headers,
                                data: JSON.stringify({ "path": "/dcc group project/"}),
                                contentType: 'text/plain; charset=dropbox-cors-hack',
                                success: function (data, textStatus, request) {
                                    //var metadata = $.parseJSON(request.getResponseHeader('x-dropbox-metadata'));   //bawejakunal at http://stackoverflow.com/questions/31490074/download-file-via-dropbox-api-from-browser
                                    //console.log("deleted");
                                    alert("File has been deleted")
                                },
                                error: function (jqXHR) {
                                    console.log(jqXHR);
                                }
                            };
                            $.ajax(args);
                            
                        }
                        </script>
    
</div>
<div id="placeholder"></div>
