@model Student_Organizer.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dd>
            <button id="readButton">Click to read.</button>
            <button id="del">Click to delete file</button>
            <button id="getFile" onclick="downloadFile()">Get File</button>
            <input id="stuff" placeholder="file name ie: hello.txt"/>
            <form enctype="multipart/form-data">
                <input id="files" type="file" name="files[]" multiple />
                <input type="submit" id="submit" name="submitBtn" value="upload" onclick="handleFileSelect()" />
            </form>
        </dd>
        @if (Model.currentUser.Faculty_id != null)
        {
            <dt>testing:</dt>
            <dd>

                <tr>
                    <td>
                    </td>
                </tr>
            </dd>
        }
        else
        {
            <dt>
                <tr>
                    <td></td>
                </tr>
            </dt>
        }



    </dl>
    @Scripts.Render("https://www.dropbox.com/static/api/dropbox-datastores-1.2-latest.js")
    @Scripts.Render("https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    <script src="~/Scripts/FileSaver.js"></script>

                        <script>
                            var client = new Dropbox.Client({ key: 'ph7eppferwoc4qe'});
                            $(document).ready(function () {
                               readDir();
                            })
                            client.authenticate({ interactive: false }, function (error, client) {
                                if (error) {
                                    alert('Error client not auth: ' + error);
                                }
                            });
                            if (client.isAuthenticated() != true) {
                                alert("Not Authenticated")
                            }
                        function readDir() {
                            client.readdir("/dcc group project", function (error, entries) {
                                if (error) {
                                    alert('Error cant find dcc: ', +error);
                                } else {
                                    //alert("Your Dropbox contains " + entries.join(", "));
                                    $('#placeholder').append("<br>Your Dropbox contains: <br>" + entries.join(", <br>")).fadeIn();
                                }
                            })
                        }
                        //document.getElementById('writeButton').onclick = function () {
                        //    client.authenticate(function (error, client) {
                        //        if (error) {
                        //            alert('Error: ' + error);
                        //        } else {
                        //            doHelloWorld();
                        //        }
                        //    });
                        //}

                        //function doHelloWorld() {
                        //    client.writeFile('dcc group project/hello.txt', $('#stuff').val(), function (error) {
                        //        if (error) {
                        //            alert('Error: ' + error);
                        //        } else {
                        //            alert('File written successfully!');
                        //        }
                        //    });
                        //}
                        function readHelloworld() {
                            client.readFile("dcc group project/" + $('#stuff').val(), function (error, data) {
                                if (error) {
                                    alert('Error: ' + error);
                                }
                                //alert(data);
                                //$(data).insertBefore('#stuff').fadeIn(1000);
                                $('#readMe').append(data + "<br>").fadeIn();
                            })
                        }
                        document.getElementById('del').onclick = function () {
                            client.authenticate(function (error, client) {
                                if (error) {
                                    alert('Error: ' + error);
                                } else {
                                    delFile();
                                }
                            })
                        }
                        document.getElementById('readButton').onclick = function () {
                            client.authenticate(function (error, client) {
                                if (error) {
                                    alert('Error: ' + error);
                                } else {
                                    readHelloworld();
                                }
                            })
                        }
                        function delFile() {
                            var url = "https://api.dropboxapi.com/2/files/delete";
                            var file = $('#stuff').val();
                            var headers = {
                                'Authorization': 'Bearer BYQAaDSBqzAAAAAAAAAACPN7rg9-MRXD5SwBWCHvkpbNqV4pvn8o777vFFNJQoxb'
                            };
                            var args = {
                                url: url,
                                headers: headers,
                                type: 'POST',
                                data: JSON.stringify({ "path": "/dcc group project/" + file }),
                                contentType: 'application/json',
                                success: function (data, textStatus, request) {
                                    //var metadata = $.parseJSON(request.getResponseHeader('x-dropbox-metadata'));   //bawejakunal at http://stackoverflow.com/questions/31490074/download-file-via-dropbox-api-from-browser
                                    //console.log("deleted");
                                    alert("File has been deleted")
                                },
                                error: function (e) {
                                    console.log(e);
                                }
                            };
                            $.ajax(args);
                        }
                        function handleFileSelect(evt) {     //function from Gregory at https://www.dropboxforum.com/hc/en-us/community/posts/207430886-Uploading-saved-local-image-file-using-Javascript-
                            var files = evt.target.files; // FileList object

                            // files is a FileList of File objects
                            for (var i = 0, f; f = files[i]; i++) {

                                $.ajax({
                                    url: 'https://content.dropboxapi.com/2/files/upload',
                                    type: 'post',
                                    data: f,
                                    processData: false,
                                    contentType: 'application/octet-stream',
                                    headers: {
                                        "Authorization": "Bearer BYQAaDSBqzAAAAAAAAAACPN7rg9-MRXD5SwBWCHvkpbNqV4pvn8o777vFFNJQoxb",
                                        "Dropbox-API-Arg": '{"path": "/dcc group project/' + f.name + '","mode": "add"}'
                                    },
                                    success: function (data) {
                                        console.log(data);
                                    },
                                    error: function (data) {
                                        console.log(data);
                                    }
                                })

                            }

                        }
                        function getFiles() {    //this works! I see nothing yet

                            $.ajax({
                                url: 'https://content.dropboxapi.com/2/files/download',
                                type: 'GET',
                                //'User-Agent': 'api-explorer-client',
                                headers: {
                                    "Authorization": "Bearer BYQAaDSBqzAAAAAAAAAACPN7rg9-MRXD5SwBWCHvkpbNqV4pvn8o777vFFNJQoxb",
                                    "Dropbox-API-Arg": '{"path": "/public/hello.txt"}'
                                },
                                success: function (result) {
                                    console.log(name);
                                    alert("IT WORKED!");
                                },
                                error: function () {
                                    console.log("error");
                                }
                            })

                        }
                        function downloadFile() {   //this works! 
                            var url = "https://content.dropboxapi.com/2/files/download";
                            var filename = $('#stuff').val();
                            var headers = {
                                'authorization': 'Bearer BYQAaDSBqzAAAAAAAAAACPN7rg9-MRXD5SwBWCHvkpbNqV4pvn8o777vFFNJQoxb',
                                'Dropbox-API-Arg': '{"path": "/dcc group project/' + filename + '"}'
                            };
                            var args = {
                                url: url,
                                headers: headers,
                                type: 'GET',
                                success: function (data) {
                                    //var metadata = $.parseJSON(request.getResponseHeader('x-dropbox-metadata'));   //bawejakunal at http://stackoverflow.com/questions/31490074/download-file-via-dropbox-api-from-browser
                                    console.log(data);
                                    var fileExt = $('#stuff').val().split('.').pop();
                                    if (fileExt == 'txt') {
                                        var file = new Blob([data], { type: 'text/plain;charset=utf-8' });
                                    }
                                    else if (fileExt == 'jpg')
                                    {
                                        var file = new Blob([data], { type: 'image/png' });
                                    }
                                    else if (fileExt == 'pdf') {
                                        var file = new Blob([data], { type: 'application/pdf' });
                                    }
                                    saveAs(file, filename);
                                },
                                error: function (e) {
                                    console.log(e);
                                }
                            };
                            $.ajax(args);
                        }
                        //TO DO:
                        //click on the link and download it
                        document.getElementById('files').addEventListener('change', handleFileSelect, false);
                        </script>
    
</div>
<div id="placeholder"></div>
<div id="readMe"></div>